/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #141213;
}
header {
    background-color: #030303;
    color: white;
}

h2{
    color:azure;
}

label{
    color:azure;
}

span {
    color: azure;
}


label {
    margin: 0 2px;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 5px;
    height: 40px;
    border-radius: 3px;
    margin: 7px 0;
    outline: none;
}

input[type="submit"] {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
}

input[type="email"] {
    background: transparent;
    color: white;
}

input[type="password"] {
    background: transparent;
    color: white;
}

.card {
    width:187px;
    height:285px;
    margin-left: 55px;
    margin-bottom:55px;
    overflow: hidden;
    background-size:cover;
}

img {
    
}

.container img {
    height:100%;
}
.Info-film{
    color: darkgrey !important;
}

